{# src/webstudent/EtudiantBundle/Resources/views/Etudiant/accueil.html.twig #}
<!DOCTYPE html>
<html>
       <head>
              <title>Accueil</title>
       </head>
       <body>
              <h1>étudiants SIO 2017-2018</h1>

			  <br>
			  <a href="{{ path('etudiant_ajouter') }}">-Ajouter un étudiant</a>
			  <br>
			  <a href="{{ path('etudiant_modifier') }}">-Modifier un étudiant</a>
			  <br>
			  <a href="{{ path('etudiant_lister') }}">-Lister les étudiants</a>
			  <br>
			  <a href="{{ path('etudiant_rechercher') }}">-Rechercher un étudiant</a>
			  <br>

       </body>
</html>
