{# src/webstudent/EtudiantBundle/Resources/views/Etudiant/ajouter.html.twig #}
<!DOCTYPE html>
<html>
       <head>
              <title>Ajouter un étudiant</title>
       </head>
       <body>
              <h1>Etudiant - ajouter</h1>
			  
			  <div>
			       {{ form(form) }}
			  </div>
			  
       </body>
</html>