{# src/webstudent/EtudiantBundle/Resources/views/Etudiant/modifier.html.twig #}
<!DOCTYPE html>
<html>
       <head>
              <title>Modifier un étudiant</title>
       </head>
       <body>
              <h1>Page de modification : </h1>
       </body>
</html>