{# src/webstudent/EtudiantBundle/Resources/views/Etudiant/rechercher.html.twig #}
<!DOCTYPE html>
<html>
       <head>
              <title>Rechercher un étudiant</title>
       </head>
       <body>
              <h1>Page de recherche d'un étudiant : </h1>
       </body>
</html>